.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.light_them {
  background-color: #ffffff;
  color: #000;
}

.dark_theme {
  background-color: #000;
  color: #fff;
}

.themeContainer {
  margin-top: 50px;
}